@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #080a0d;
  color: #d4dbe4;
}
/* <!--------------------- star header ---------------------> */
#header {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  position: relative;
  text-align: center;
}

.container {
  width: 350px;
  overflow: hidden;
}
.container .text {
  position: relative;
  color: #8563ff;
  font-size: 30px;
  font-weight: 600;
}
.container .first_text {
  color: #fff;
}
.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #080a0d;
  border-left: 2px solid #4c79bd;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}

.tabs-container {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #121922;
  box-shadow: 0 0 20px rgba(111, 111, 111, 0.2);
}
.sticky {
  position: fixed;
  top: 0;
}

.tabs-container a {
  text-decoration: none;
  color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.tabs-container a:hover {
  background-color: #4c79bd;
}

/* <!--------------------- End header ---------------------> */
.section {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  margin: 2rem 8.5rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 5rem auto;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
  margin-top: 1.7rem;
}

.social a {
  color: #00e8f8;
  font-size: 1rem;
  border: 1.6px solid #00e8f8;
  border-radius: 50%;
  padding: 0.35rem;
  text-align: center;
  width: 32px;
}

.social a:hover {
  color: #1f252e;
  background-color: #00e8f8;
  box-shadow: 0 0 20px #00e8f8;
  transition: all 0.3s ease-in-out;
}

.main h1 span:nth-child(1) {
  font-size: 80px;
}

.main h1 span:nth-child(2) {
  color: #00e8f8;
}

.main h2 {
  font-size: 25px;
  margin-right: 100px;
}

.main p {
  font-size: 20px;
}

.images {
  background-image: url(/img/graph5.png);
  background-position: 0 -300px;
  -webkit-box-shadow: 0 10px 10px -10px #e4e1e1;
  -moz-box-shadow: 0 10px 10px -10px #e0e0e0;
  box-shadow: 0px 16px 4px -10px #2a1974;
  filter: drop-shadow(10px 7px 8px #30233f);
  width: 200px;
  background-size: cover;
}

/*............ START MYSKILLS..........*/
.titleSkills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px 0px;
  margin-bottom: 10px;
}

.titleSkills text {
  background: linear-gradient(
    75deg,
    rgb(5, 1, 19),
    rgb(28, 28, 95),
    rgb(102, 100, 212)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 20px;
}

/*................START IMG SKILLS......... */
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 100%;
}

.card {
  position: relative;
  height: 28rem;
  width: 20rem;
  aspect-ratio: 5/7;
  color: #2b2b2b;
  perspective: 50rem;
}
.card .shadow {
  position: absolute;
  inset: 0;
  background: var(--url);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  filter: blur(2rem) saturate(0.9);
  box-shadow: 0 -1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.7);
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
    translate3d(0, 2rem, -2rem);
}
.card .image {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 40%),
    var(--url);
  background-size: cover;
  background-position: center;
  -webkit-mask-image: var(--url);
  mask-image: var(--url);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center;
  mask-position: center;
}
.card .image.background {
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
    translate3d(0, 0, 0rem);
}
.card .image.cutout {
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
    translate3d(0, 0, 4rem) scale(0.92);
  z-index: 3;
}
.card .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  inset: 0;
  padding: 3.5rem;
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
    translate3d(0, 0, 6rem);
  z-index: 4;
}
.card::after,
.card::before {
  content: "";
  position: absolute;
  inset: 1.5rem;
  border: #000250 0.5rem solid;
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
    translate3d(0, 0, 2rem);
}
.card::before {
  z-index: 4;
}
.card.border-left-behind::before {
  border-left: transparent;
}
.card.border-right-behind::before {
  border-right: transparent;
}
.card.border-bottom-behind::before {
  border-bottom: transparent;
}

.centered h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

.centered p {
  font-weight: 300;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}
/*................END IMG SKILLS......... */

/*................START IMG TOOLS......... */
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.28) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(30px);
  border-radius: 20px;
  width: min(900px, 100%);
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
    0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  padding: 0 35px;
  text-align: justify;
}

.info p {
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.tool-frame {
  background: linear-gradient(225deg, #1f182e 0%, #784ba0 50%, #2b86c5 100%);
}

/* SWIPER */

.swiper {
  width: 300px;
  height: 450px;
  padding: 50px 0;
}

.swiper-slide {
  position: relative;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.swiper-slide span {
  position: relative;
  color: #fff;
  padding: 7px 18px;
  margin: 10px;
  border-radius: 20px;
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 700;
  font-family: inherit;
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17),
    inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(74px);
}

.swiper-slide h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0 0 20px 20px;
}

.swiper-slide:nth-child(1n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://i.ibb.co/9wCzskW/Desain-tanpa-judul-4.png") 50% 50% / cover;
}

.swiper-slide:nth-child(2n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://i.ibb.co/nRLyL8r/15.png") 50% 50% / cover;
}

.swiper-slide:nth-child(3n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://i.ibb.co/xFSRMcB/16.png") 50% 0% / cover;
}

.swiper-slide:nth-child(4n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://i.ibb.co/T2w0kJd/17.png") 50% 50% / cover;
}

.swiper-slide:nth-child(5n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://i.ibb.co/GMF8QmM/18.png") 50% 50% / cover;
}

.swiper-slide:nth-child(6n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://i.ibb.co/xghLWXk/19.png") 50% 50% / cover;
}

.swiper-slide:nth-child(7n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://i.ibb.co/gJdvzL1/20.png") 50% 50% / cover;
}

.swiper-slide:nth-child(8n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://i.ibb.co/TmQjwg2/21.png") 50% 50% / cover;
}

.swiper-slide:nth-child(9n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://i.ibb.co/f9C0PPr/22.png") 50% 50% / cover;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/*................END IMG TOOLS......... */

/*............END MYSKILLS.............*/

/* ........... START FOOTER ........... */
.footer {
  background: #5b6574;
  padding-top: 5rem;
  box-shadow: inset 0 1.5rem 1.5rem rgba(241, 241, 241, 0.767);
}

.footer-container {
  text-align: center;
  display: flex;
  margin-top: 5rem;
  margin-left: 500px;
}

.footer-container ul a {
  color: #d4dbe4;
  padding-inline: 10px;
  opacity: 0.75;
}

.footer-container ul a:hover {
  background: #fff;
  color: #0d0a18;
  border-radius: 5px;
}

.footer-copy {
  display: flex;
  justify-content: center;
  color: #5b6574;
  padding: 1.5rem 0;
  border-top: #e6eaf1 1px solid;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

/* ........... END FOOTER ........... */
