.centered
	.card.border-left-behind
		.shadow(style="--url: url('https://i.ibb.co/7YWdp61/full-front.png')")
		.image.background(style="--url: url('https://i.ibb.co/zxKLYPD/bg-front.png')")
		.image.cutout(style="--url: url('https://i.ibb.co/FsjbPb5/front.png')")
		.content
			h2 FrontEnd Dev!
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
	.card.border-right-behind.border-bottom-behind
		.shadow(style="--url: url('https://i.ibb.co/ZXW1zKT/fullback.png')")
		.image.background(style="--url: url('https://i.ibb.co/mbhLHZb/bg-back.png')")
		.image.cutout(style="--url: url('https://i.ibb.co/x3ZT3f7/back.png')")
		.content
			h2 BanckEnd Dev!
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
	.card.border-left-behind
		.shadow(style="--url: url('https://i.ibb.co/pf7CP79/fulldata.png')")
		.image.background(style="--url: url('https://i.ibb.co/89W9f0L/bg-data.png')")
		.image.cutout(style="--url: url('https://i.ibb.co/D8ttLYg/data.png')")
		.content
			h2 Data Analyst!
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit.